DISCORD_WEBHOOK_URL="https://discord.com/api/webhooks/[ID]/[TOKEN]"

MAILDIR_PATH="/home/user/Maildir"
STAFF_ADDRESS=""
REQUIRE_STAFF_ADDRESS="true"

TIMEZONE="Asia/Tokyo"
WORK_START_HOUR="6"
WORK_END_HOUR="22"
POLL_INTERVAL="1m"

STATE_FILE="private/state.json"
EXCLUDE_FILE="private/exclude_senders.txt"
