DISCORD_WEBHOOK_URLS="A=https://discord.com/api/webhooks/[ID]/[TOKEN],B=https://discord.com/api/webhooks/[ID]/[TOKEN],C=https://discord.com/api/webhooks/[ID]/[TOKEN],D=https://discord.com/api/webhooks/[ID]/[TOKEN]"
DISCORD_ROUTE_FILE="private/discord_routes.txt"
DISCORD_DEFAULT_TARGET="D"

MAILDIR_PATH="/home/user/Maildir"
STAFF_ADDRESS="staff@example.test"
REQUIRE_STAFF_ADDRESS="true"

TIMEZONE="Asia/Tokyo"
WORK_START_HOUR="6"
WORK_END_HOUR="22"
POLL_INTERVAL="1m"

STATE_FILE="private/state.json"
EXCLUDE_FILE="private/exclude_senders.txt"
